#blob-home {
  position: relative;
  overflow: hidden;
  background: url(/images/blobs/blob-five.svg) no-repeat;
  background-size: 35em;
  background-position: top 25em left -15em;
}
#blob-home::before {
  background: url(/images/blobs/blob-two.svg) 0 0 no-repeat;
  content: "";
  position: absolute;
  width: 70em;
  height: 50em;
  top: -10em;
  right: -40em;
  z-index: -1;
}
#blob-home::after {
  background: url(/images/blobs/blob-ten.svg) 0 0 no-repeat;
  content: "";
  position: absolute;
  width: 40em;
  height: 40em;
  top: 50em;
  right: -15em;
  z-index: -1;
}

@media (min-width: 640px) {
  #blob-home {
    background-size: 20em;
    background-position: top 0em left -10em;
  }
  #blob::before {
    width: 80em;
    height: 60em;
  }
  #blob::after {
    width: 50em;
    height: 50em;
    top: 40em;
    right: -20em;
  }
}

@media (min-width: 768px) {
  #blob-home {
    background-position: top 25em left -10em;
  }
  #blob-home::before {
    top: -12em;
  }
  #blob-home::after {
    top: 28em;
    right: -20em;
  }
}

@media (min-width: 1024px) {
  #blob-home {
    background: url(/images/complex/analysis-team-desk.svg) no-repeat;
    background-size: 53%;
    background-position: top 15vh right -3em;
  }
  #blob-home::before {
    background: url(/images/blobs/blob-five.svg) 0 0 no-repeat;
    top: -5em;
    right: auto;
    left: -27em;
  }
  #blob-home::after {
    top: 32em;
    right: -10em;
  }
}

@media (min-width: 1280px) {
  #blob {
    background-size: 43em;
  }
  #blob::after {
    background: url(/images/complex/hand-bars-skyscrapers.svg) no-repeat;
    top: 50em;
    left: 0;
    background-size: 30em;
  }
}

@media (min-width: 1536px) {
  #blob {
    background-size: 45em;
    background-position: top 10vh right 2em;
  }
  #blob::after {
    background-size: 35em;
    top: 45em;
    left: -2em;
  }
}